.angebote {
  /* width: 1130px; */
  width: 1400px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.fussball {
  display: flex;
  justify-content: center;
  background-image: url("./../assets/fussball.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 790px;
  /* width: 1400px; */
  max-width: 1400vw;
}
.fussball-img {
  max-width: 1400px;
}
@media screen and (min-width: 1201px) {
  .fussball-img {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .angebote {
    width: 100vw;
    padding-left: 0px;
  }
  .fussball {
    width: 100vw;
    /* background-image: url("../assets/fussball_mobile.png"); */
    background-image: none;
    background-repeat: no-repeat;
    height: auto;
  }
  .fussball-img {
    width: 100vw;
  }
}
