.enemies-container {
  width: 1400px;
  height: 627px;
  position: relative;
}
.birds-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.enemies-content-big {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.enemies-bcg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.enemies-bird {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  position: absolute;
}
@media screen and (min-width: 1201px) {
  .enemies-content-small {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .enemies-content-big {
    display: none;
  }
  .enemies-content-small {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 10px;
  }
  .enemies-container {
    width: 100vw;
    height: auto;
    object-fit: contain;
    padding: 0px;
  }
  .birds-container {
    width: 100vw;
    object-fit: contain;
  }
  .enemies-content-small {
    width: 100;
    height: 100%;
  }
  .enemies-bird {
    width: 100vw;
    height: 100%;
    padding-top: 0px;
  }
  .bird {
    width: 100vw;
    height: auto;
  }
  .background {
    width: 100vw;
    height: auto;
  }
  .textbox-big {
    display: none;
  }
}
