.itemCarousel {
  min-width: fit-content;
  height: 100%;
  overflow: hide;
  white-space: wrap;
}

.carousel {
  height: 800px;
  width: 1400px;
}

@media screen and (max-width: 1400px) {
  .carousel {
    width: 95vw;
  }
}
