.itemCarousel {
  min-width: fit-content;
  height: 100%;
  overflow: hide;
  white-space: wrap;
}

.carousel {
  height: 800px;
  width: 1400px;
}

@media screen and (max-width: 1400px) {
  .container {
    height: fit-content;
  }
  .itemCarousel {
    transform: translate3d(0px, 0px, 0px);
    height: auto;
  }
  .carousel {
    width: 100vw;
    height: auto;
  }
}
