.beschreibung {
  display: flex;
  flex-direction: row;
  color: #7cb92c;
  font-size: 24px;
  width: 1130px;
}
@media screen and (max-width: 1200px) {
  .beschreibung {
    width: 100vw;
    flex-direction: column;
  }

  .vogel {
    width: 100vw;
  }
}
