.zusammen {
  font-size: 60px;
  color: black;
  font-weight: 300;
  height: 210px;
  width: 502px;
  padding-left: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 796px;
  position: relative;
  max-width: 100vw;
  background-image: url("./../assets/lading_page_bcg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: box-shadow 0.2s ease-in-out;
  padding-bottom: 100px;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 138px;
  padding-top: 36px;
}
.menu {
  display: flex;
  justify-content: right;
  padding-top: 57px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding-right: 70px;
}

@media screen and (max-width: 1200px) {
  .intro {
    width: 100vw;
    padding-left: 0px;
    background-image: none;
    height: auto;
    padding-bottom: 0px;
  }
  .zusammen {
    display: flex;
    font-size: 8vw;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }
  .logo {
    padding-left: 0px;
  }
  .menu {
    padding-right: 0px;
  }
}
