h1 {
  font-size: 60px;
  color: black;
  font-weight: 300;
  height: 210px;
  width: 502px;
  padding-left: 50px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 796px;
  position: relative;
  overflow: hidden;
  background-image: url("./../assets/lading_page_bcg.png");

  transition: box-shadow 0.2s ease-in-out;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 138px;
  padding-top: 36px;
}
.menu {
  display: flex;
  justify-content: right;
  padding-top: 57px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding-right: 70px;
}
