.info {
  width: 1130px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: justify;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .info {
    width: 100%;
    padding: none;
  }
}
