.info {
  width: 1130px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: justify;
}

.kurzinfo {
  width: 676px;
  font-size: 45px;
}

.mail {
  color: black;
  width: 562px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
