.logo {
  display: flex;
  justify-content: space-between;
  padding-left: 138px;
  padding-top: 36px;
}
.logo-img {
  padding-right: 500px;
}
.menu_desktop {
  display: flex;
  justify-content: space-between;
  padding-top: 57px;
  font-size: 22px;
  font-weight: bold;
  padding-right: 70px;
  width: 300px;
}
.menu_mobile {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .menu {
    width: 100%;
    padding-top: 30px;
    flex-direction: column-reverse;
  }
  .menu_mobile {
    width: 80%;
    font-size: 2vw;
    display: flex;
    padding: 0px;
    justify-content: right;
    justify-content: space-around;
    padding-right: 0px;
  }
  .menu_desktop {
    display: none;
  }
  .logo {
    justify-content: center;
    padding-left: 0px;
  }
  .logo-img {
    padding-right: 0px;
    object-fit: scale-down;
  }
}
