.picture {
  height: 600px;
  width: 600px;
}
.button-event {
  background-color: none;
  border: none;
}
.event {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  height: 100%;
  padding-top: 56px;
}
.event-wrapper {
  flex-direction: row;
  max-height: 600px;
}
.event-description {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 24px;

  overflow: -moz-scrollbars-vertical;
}

.event-title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}
.event-location {
  font-size: 24px;
  padding-top: 20px;
}
.event-date {
  font-size: 24px;
  padding-top: 20px;
}
@media screen and (max-width: 1200px) {
  .picture {
    width: 100vw;
    height: auto;
  }
  .event {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 10vh;

    width: 100vw;
    text-align: center;
  }
  .event-title {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  .event-description {
    font-size: 16px;
  }
  .event-location {
    font-size: 16px;
  }
  .event-date {
    font-size: 16px;
  }
}
