/* Buttons */
.button {
  background-color: #0099a7;
  height: 58px;
  width: 313px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .button {
    width: auto;
    font-size: 5vw;
    font-weight: bold;
    padding: 0px;
  }
}

/* Event */
.picture {
  height: 600px;
  width: 600px;
}
.button-event {
  background-color: none;
  border: none;
  /*padding: 0px; */
}
.event {
  display: flex;
  flex-direction: row;
  max-width: 1120px;
  height: 100%;
}
.event-wrapper {
  flex-direction: row;
  max-height: 600px;
}
.event-description {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 18px;

  overflow: -moz-scrollbars-vertical;
}

.event-title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}
.event-location {
  font-size: 18px;
  padding-top: 20px;
}
.event-date {
  font-size: 18px;
  padding-top: 10px;
}
@media screen and (max-width: 1120px) {
  .picture {
    width: 100vw;
    height: auto;
  }
  .event {
    display: flex;
    flex-direction: column;
    height: auto;
    /* padding-bottom: 10vh; */

    width: 100vw;
    text-align: center;
  }
  .event-title {
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  .event-description {
    font-size: 16px;
  }
  .event-location {
    font-size: 16px;
  }
  .event-date {
    font-size: 16px;
  }
}

/* ImageResponsive */
.image-responsive {
  max-width: 1400px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .image-responsive {
    width: 80vw;
    padding-bottom: 10vh;
    object-fit: scale-down;
  }
}

/* LinkBox */
.outside-box {
  padding: 4px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 400px;
  background-color: #662382;
  padding: 26px;
  color: white;
  text-decoration: none;
  text-align: left;
  font-size: 22px;
}
.box:hover {
  background-color: #0099a7;
  transform: rotate(2deg);
}

.pic {
  background-color: white;
  width: 314px;
  height: 176px;
  object-fit: scale-down;
}
.text {
  padding-top: 16px;
  width: 248px;
}
@media screen and (max-width: 1200px) {
  .outside-box {
    height: auto;
    padding: 5px;
  }

  .vogel {
    width: 100vw;
  }
  .box {
    width: 85%;
  }
}

/* TextBox */
/* This controls the space between title and content in whole landing page */
.title {
  width: 676px;
  font-size: 45px;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}

.content {
  color: black;
  width: 562px;
  padding-top: 20px;
  padding-bottom: 56px;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .title {
    width: 100%;
    padding: none;
    flex-wrap: wrap;
    font-size: 8vw;
  }
  .content {
    width: 100%;
    font-size: 4vw;
    padding-bottom: 20px;
  }
  /*Those two control the padding of text only which is contained in .title and .content */
  .content-text {
    padding-left: 5px;
    padding-right: 5px;
  }
  .title-text {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* TextBoxSmall */
.title-small {
  position: relative;
  font-size: 4vh;
  background: rgba(241, 163, 52, 0.6);
}
.content-small {
  position: relative;
  font-size: 2vh;
  z-index: 2;
  background: rgba(241, 163, 52, 0.6);
}

/* TriangleTitle */
.triangle-title {
  background-image: url("./../../assets/triangle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 315px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
}

.triangle-linie {
  width: 100%;
}

/* AngeboteMoaFinder */
.offer-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  height: 100%;
  padding-top: 110px;
}
.offer-left {
  flex-direction: column;
  height: 100%;
  width: 75%;
  padding-right: 1vw;
  font-size: 24px;
}
.title-stripe {
  background-color: #ffa42b;
  color: white;
  width: 1150px;
  height: 110px;
  font-size: 46px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.offer-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 25%;
  padding-left: 1vw;
  font-size: 24px;
}
.offer-image {
  max-width: 200px;
  max-height: 250px;
  object-fit: scale-down;
  padding-right: 20px;
  padding-bottom: 20px;
}
.offer-divider {
  display: flex;
  flex-direction: row;
}
.search-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1150px) {
  .offer-wrapper {
    padding-top: 80px;
    max-width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .offer-left {
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 0;
  }
  .offer-right {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 18px;
    padding: 0;
  }

  .title-stripe {
    width: 100%;
    font-size: 36px;
    height: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .offer-image {
    max-width: 100%;
    max-height: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .offer-divider {
    flex-direction: column;
  }
}

.dropdown-container {
  position: relative;
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  color: #0099a8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /*padding: 0.5rem;*/
}

.dropdown-menu label {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 0.5rem;
}

.search-container img {
  margin-right: 1rem;
  cursor: pointer;
}

.search-container button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu-hover {
  display: block;
  position: absolute;
  top: 50;
  z-index: 999;
  left: 50;
  width: 300px;
  background-color: white;
  color: #0099a8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: large;
}

.dropdown-menu-item {
  display: block;
}

@media (max-width: 767px) {
  .dropdown-menu {
    top: auto;
    left: auto;
    width: auto;
    margin-top: 1rem;
    box-shadow: none;
  }

  .dropdown-menu label {
    display: block;
    margin: 0.5rem 0;
  }

  .dropdown-menu input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  .search-container img {
    margin-right: 0.5rem;
  }

  .search-container button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
