.triangle-title {
  background-image: url("./../../assets/triangle.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 315px;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
}

.triangle-linie {
  width: 100%;
}
